{% extends "layout.html" %}
{% block content %}
   <div class="row">
      <!-- Начало левой колонки -->
      <div class="col-md-3 float-left">
         <!-- Локация -->
         <div class="row">
            <div class="col-md-4 imback_height locback p-1">
               <div class="row">
                  <div class="col-md-12 imback_height_half">
                     <div class="text-center small-text" style="text-decoration: underline">
                        Локация
                     </div>
                     <div class="text-center small-text">
                        "локация"
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 imback_height_half">
                     <div class="text-center small-text" style="text-decoration: underline">
                        Роль
                     </div>
                     <div class="text-center small-text">
                        "роль"
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 imback_height imback pl-1 pr-1 pt-2 pb-2 align-items-center">
               <img src="{{ url_for('static', filename='9.jpg') }}" alt="" class="img-fluid">
            </div>
         </div>
         <!-- Часики -->
         <div class="row">
               <div class="col-md-12">
                  Таймер
               </div>
         </div>
         <!-- Кнопка голосовать/угадать локацию -->
            {% if current_user.role == 'шпион' %}
               <!-- Кнопка угадать локацию -->
               <div class="row">
                  <div class="col-md-12 center-block">
                     <!-- Button trigger modal -->
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                       Угадать локацию
                     </button>

                     <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-dialog-centered" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Где мы?</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             ...
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-primary">Угадать</button>
                           </div>
                         </div>
                       </div>
                     </div>
                  </div>
               </div>
            {% else %}
               <!-- Кнопка голосовать -->
               <div class="row">
                  <div class="col-md-12">
                  <!-- Button trigger modal -->
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                       Угадать шпиона
                     </button>

                     <!-- Modal -->
                     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                       <div class="modal-dialog modal-dialog-centered" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLongTitle">Кто шпион?</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             ...
                           </div>
                           <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Угадать</button>
                           </div>
                         </div>
                       </div>
                     </div>
                  </div>
               </div>
            {% endif %}
         <!-- Кнопка выйти -->
         <div class="row justify-content-center">
            <a href="http://localhost:5000" class="btn btn-primary btn-lg">Выйти</a>
         </div>
      </div>
      <!-- Конец левой колонки -->

      <!-- Начало правой колонки -->
      <div class="col-md-8">
         <div class="row">
            {% for user in users %}
                  <div class="main-text"> {{ user.username }}</div>
            {% endfor %}
         </div>
      </div>
      <!-- Конец правой колонки -->
   </div>

{% endblock content %}
