{% extends "layout.html" %}
{% block content %}
   <div class="row">
      <!-- Начало левой колонки -->
      <div class="col-md-3 float-left">
         <!-- Локация -->
         <div class="row">
            <div class="col-md-4 imback_height locback p-1">
               <div class="row">
                  <div class="col-md-12 imback_height_half">
                     <div class="text-center small-text" style="text-decoration: underline">
                        Локация
                     </div>
                     <div class="text-center small-text">
                        "локация"
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 imback_height_half">
                     <div class="text-center small-text" style="text-decoration: underline">
                        Роль
                     </div>
                     <div class="text-center small-text">
                        "роль"
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 imback_height imback pl-1 pr-1 pt-2 pb-2 align-items-center">
               <img src="{{ url_for('static', filename='9.jpg') }}" alt="" class="img-fluid">
            </div>
         </div>
         <!-- Часики -->
         <div class="row">

         </div>
         <!-- Кнопка голосовать/угадать локацию -->
            {% if current_user.role == 'шпион' %}
               <!-- Кнопка угадать локацию -->
               <div class="row">
                  <div class="col-md-12">
                     ЩПИЁЁЁЁН
                  </div>
               </div>
            {% else %}
               <!-- Кнопка голосовать -->
               <div class="row">
                  <div class="col-md-12">
                     НЕ ЩПИЁЁЁЁН
                  </div>
               </div>
            {% endif %}
         <!-- Кнопка выйти -->
         <div class="row">

         </div>
      </div>
      <!-- Конец левой колонки -->

      <!-- Начало правой колонки -->
      <div class="col-md-8">
         <div class="row">
            {% for user in users %}
                  <div class="main-text"> {{ user.username }}</div>
            {% endfor %}
         </div>
      </div>
      <!-- Конец правой колонки -->
   </div>

{% endblock content %}
