{% extends "layout.html" %}
{% block content %}
   <div class="row">
      <div class="col-md-2">
         Картиночки
      </div>
      <div class="col-md-8">
         <div class="text-nowrap text-center game_title">Добро пожаловать в НАЗВАНИЕ</div>
         <div class="text-center main-text mt-3 pl-5 pr-5">
            Включайте свое красноречие и сообразительность, в этой игре Вам помогут только они!<br>
            Семь игроков и только один - шпион. Сможете ли Вы раскусить обманщика за 8 минут?
            А притвориться "своим" и угадать локацию, на которой все находятся?
            Вы можете только задавать вопросы и отвечать на них, но и этого достаточно, чтобы
            ввести всех в заблуждение или раскусить лжеца.
         </div>
         <div class="small-text mt-3">
            Рекомендуем сначала посмотреть <a href="{{ url_for('rules') }}">правила игры</a>
         </div>
         <div class="mt-5 text-center">
               <button class="myButton">Начать игру</button>
         </div>
      </div>
      <div class="col-md-2">
         Картиночки
      </div>
   </div>
{% endblock content %}
